header h1{
  color: blue;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 40px;
}

header{
  margin: 0;
}

header .hamburger{
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  font-size: 30px;
  position: fixed;
}

header .close-block{
  display: flex;
}

header .closeBtn{
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 30px;
}

header .logo-block{
  display: flex;
  justify-content: center;
}

header .logo{
  width: 100px;

}

.sidenav{
  width: 250px;
  background-color: rgba(222, 184, 135, 0.9);
  position: fixed;
  min-height: 100vh;
  padding: 0;
  transition: all 1s;
  left: -100%;
  z-index: 1;
}

.sidenav.active{
  left: 0;
}

ul{
  padding: 0;

}

ul li{
  list-style-type: none;
  margin: 10px 0;
}

ul li a{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  transition: all 0.25s;
  
}

ul li a svg{
  margin-right: 15px;
}

ul li a:hover,
ul li a.active{
background-color: blue;
}



header svg {
  font-size: 25px;
}