.landing-page{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: contain;
}

.landing-elements{
  height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  padding: 50px 70px;
}

.logo-splash{
  width: 75vw;
  min-width: 450px;
  max-width: 400px;
}

.landing-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.landing-button-container a {
  color: var(--text-color);
  text-decoration: none;
  padding: 20px;
  margin: 30px;
  font-size: 2rem;
  font-weight: 600;
}

.landing-button-container a:hover {
  border-radius: 7px;
  color: var(--background-color);
  background-color: var(--text-color);
}

@media only screen and (max-width: 850px) {

  .landing-elements {
    padding: 0;
    margin-right: 50px;
    margin-top: 100px;
  }

  .logo-splash {
    display: flex;
    width: 75vw;
    min-width: 200px;
  }

  .landing-button-container a {
    margin: 20px;
  }

}