.landing-page{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: contain;
}

.landing-elements{
  height: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  padding: 50px 70px;
}

.logo-splash{
  width: 75vw;
  min-width: 450px;
  max-width: 400px;
}

.landing-button-container {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.landing-button-container a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  margin: 30px;
}

.landing-button-container a:hover {
  border-radius: 7px;
  color: var(--background-color);
  background-color: var(--text-color);
}

@media only screen and (max-width: 850px) {
  .landing-elements{
    height: 75%;
  }

  .logo-splash {
    display: flex;
    width: 90vw;
    max-width: 350px;
  }

}