.layout{
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.btnWrapper{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.create-post-form{
  width: 65%;
  border: 1px solid #cccccc;
  margin: 100px 0 50px 250px;
  background-color: #a9b2fc8c;
  border: solid 1px var(--background-color);
  border-radius: 10px;
}

.createBtn-wrapper{
  justify-content: center;
  display: flex;
}

.createBtn{
  background: none;
  border: solid 2px var(--text-color);
  color: var(--text-color);
  font-weight: 600;
  border-radius: 7px;
  width: 200px;
}

.createBtn:hover{
  color: var(--background-color);
  background-color: var(--text-color);
}

::file-selector-button{
  margin-top: 6px;
  margin-right: 10px;
  background: none;
  border: none;
  color: var(--background-color);
  font-weight: 600;
  border-radius: 7px;
}

::file-selector-button:hover{
  text-decoration: underline;
}

.form-header  {
  background-color: var(--text-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 0;
}

.form-header h1 {
  font-size: 40px;
  text-align:center;
  color: var(--background-color);
  padding:20px 0;
  margin-top: 0;
}

.form-body {
  padding:10px 40px;
  color:var(--background-color);
}

.form-group{
  margin-bottom:20px;
}

.tags{
  display: flex;
  flex-direction: column;
}

.form-body .label-title {
  color:var(--background-color);
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.form-body .form-input {
  font-size: 16px;
  box-sizing: border-box;
  width: 98%;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--background-color);
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: var(--text-color);
  outline: none;
}

.form-input.body{
  height: 300px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.form-input.tags{
  padding-top: 10px;
  padding-left: 15px;
}

.horizontal-group .left{
  display: flex;
  flex-direction: column;
  float:left;
  width:50%;
}

.horizontal-group .right{
  display: flex;
  flex-direction: column;
  float:right;
  width:50%;
}

.updateBtn{
  margin-right: 10px;
  background: #5095e9;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  transition: all 0.3s;
}

.updateBtn:hover{
  background-color: white;
  color: #5095e9;
}