.body-prompt{
  padding-bottom: 10px; 
}

.body-input{
  color: rgb(88, 94, 100);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.btnWrapper{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.createBtn{
  margin-top: 22px;
  background: #5095e9;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  transition: all 0.3s;
}

.createBtn:hover{
  background-color: white;
  color: #5095e9;
}

.createBtn-wrapper{
  justify-content: center;
  display: flex;
  padding-top: 25px;
}

.create-form{
  width: 100vw;
  height: 100vh;
}

.create-title{
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  color: rgb(88, 94, 100);
}

.deleteBtn{
  margin-left: 10px;
  background: rgb(255, 54, 54);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  transition: all 0.3s;
}

.deleteBtn:hover{
  background-color: white;
  color: rgb(255, 54, 54);
}

.description{
  text-align: center;
}

.edit-title{
  text-align: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

::file-selector-button{
  margin-right: 10px;
  background: #5095e9;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  transition: all 0.3s;
}

::file-selector-button:hover{
  background-color: white;
  color: #5095e9;
}

.image-prompt{
  padding-bottom: 10px;
}

.horizontal-group{
  justify-content: center;
  gap: 120px;
  display: flex;
  height: 15vh;
}

.tags{
  text-align: center;
}

.tags-input{
  color: rgb(88, 94, 100);
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 15px;
}

.tags-prompt{
  padding-top: 30px;
  padding-bottom: 10px;
}

.title-input{
  color: rgb(88, 94, 100);
  border-radius: 5px;
  padding-left: 10px;
}
.title-input::placeholder{
  color: rgb(88, 94, 100);
}

.title-prompt{
  padding-bottom: 10px;
}

.updateBtn{
  margin-right: 10px;
}

.updateBtn{
  margin-right: 10px;
  background: #5095e9;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 7px;
  transition: all 0.3s;
}

.updateBtn:hover{
  background-color: white;
  color: #5095e9;
}