.comment-section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}
.card-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-left: 20px;
}

.comment-list {
  overflow: scroll;
  height: 400px;
}

.create-form {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
}

.form-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 275px;
  border-bottom: solid 1px var(--text-color);
}

.comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.no-comment {
  text-align: center;
}

.comment-section h2{
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  margin-top: 20px;
}

.form-div h2 {
  text-align: center;
}

.form-div textarea{
  margin-left: 80px;
  width: 400px;
  height: 100px;
  padding: 5px 0 0 10px;
  font-size: 1.8rem;
  font-family: inherit;
}

.submitBtn {
  width: 100px;
  margin: 20px;
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 7px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 2rem;
}

.submitBtn:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

.comment .avatar {
  height: 75px;
  margin: 20px;
}

.comment h3 {
  margin: 60px 20px 50px 20px;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none;
}

.comment a {
  text-decoration: none;
  color: var(--text-color);
}

.comment p {
  margin: 15px 30px;
  text-align: justify;
  width: 400px;
  font-size: 20px;
}

.comment .deleteBtn {
  margin-top: 20px;
  margin: 45px;
}

.comment a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .comment-section {
    max-width: 300px;
    justify-content: left;
  }

  .comment-card {
    width: 300px;
  }

  .create-form {
    flex-direction: column;
  }

  .submitBtn{
    margin-left: 200px;
  }
}

@media (max-width: 600px) {
  .comment-section {
    width: 100vw;
    justify-content: left;
  }

  .comment {
    width: 75vw;
  }

  .no-comment {
    font-size: 2rem;
  }

  .form-div textarea{
    width: 270px;
    margin-right: 20px;
    margin-left: 0;
  }

  .submitBtn {
    margin-left: 85px;
  }

  .comment-card {
    width: 200px;
  }

  .comment h3 {
    font-size: 1.8rem;
    margin-left: 0;
  }

  .avatar {
    display: none;
  }

  .comment .deleteBtn {
    margin: 20px;
  }

  .comment p {
    font-size: 15px;
    margin: auto;
  }
}
